.signupFormBoard{
    justify-self: center;
    justify-content: center;
    height:700px;
    display:grid;
    margin: 0px;
}

.signupFormBackground{
    margin-top: 20px;
    position: relative;
    left:-100px;
    justify-content: center;
    border-radius: 60px;
    width: 326px;
    height:376px;


}
#signupForm{
    color: white;
    margin: 13px;
    border-radius: 50px;
    width:500px;
    height:600px;
    background-color: rgba(13, 33, 161, 0.3);
    box-shadow: 0px 0px 10px 10px rgba(238, 198, 67, 1);
}
.signupFormErrorBox{
    padding-left: 60px;
    padding-top: 10px;
}
.signupFormInputBox{
    display:grid;
    margin:10px;
    height:30px;
    justify-self: center;

}

.signupFormLabelBox{
    font-size: 25px;
    justify-content: center;
    display:grid;
    padding: 5px;
    margin:10px;
    justify-self: center;
}

.signupFormButton{
    display:grid;
    margin:10px;
    justify-self: center;
}
.btn{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    border:none;
    background-color: transparent;
}
