.bar{
    font-family: 'Carter One', cursive;
    color:rgb(230, 230, 234);
    background-color: rgb(158, 142,178);
    /* border: 1px solid black; */
    height:100px;
    display: grid;
    grid-template-columns: 4fr 6fr 4fr;

}
.navBoxOne{
    display: flex;
    align-content: center;
   height:100px
}

.navLinkBoxStart{
    margin:10px;
    display: grid;
}
.navLinkBoxMiddle{
    font-family: 'Frijole', cursive;
    height:60px;
    margin:10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navLinkBoxEnd{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.logoNav{

    padding-top:20px;
    height:Text 70px;
}
.nav{
    color:rgb(230, 230, 234);
    text-decoration: none;
}
